@media (max-width: 700px) {
  .card {
    display: grid;
    grid-template-columns: auto;
    margin-top: 0;
  }

  .drawers-img {
    max-width: none;
  }

  .drawers-img img {
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }

  .card-info {
    padding: 30px;
    max-width: 700px;
    background-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .share-container-mobile.show {
    display: block;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    font-weight: 100;
    background-color: hsl(217, 19%, 35%);
    padding: 20px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .share-container-mobile ul {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2px;
    align-items: center;
  }

  li:last-child {
    justify-self: end;
  }
  
  .icon-share2 {
    background-color: hsl(212, 23%, 69%);
    padding: 8px 6px 8px 6px;
    border-radius: 50px;
  }
}
